<!DOCTYPE html>
<html>
<body style="background:#0f172a;color:white;text-align:center;font-family:monospace">

<h1>🔥 PANEL PRO</h1>

<textarea id="urls" style="width:90%;height:120px;"></textarea><br><br>

<button onclick="scan()">🚀 ESCANEAR</button>
<button onclick="download()">📥 EXPORTAR</button>

<h2>RESULTADOS</h2>
<div id="resultados" style="text-align:left;white-space:pre-wrap;"></div>

<script>

let resultados = []

async function scan(){
    let urls = document.getElementById("urls").value.split("\n")
    let div = document.getElementById("resultados")

    div.innerHTML = "⏳ Escaneando...\n\n"
    resultados = []

    for(let i=0;i<urls.length;i++){
        let url = urls[i].trim()
        if(!url) continue

        div.innerHTML += "🔎 Revisando: " + url + "\n"

        let res = await fetch("/scan",{
            method:"POST",
            headers:{"Content-Type":"application/json"},
            body:JSON.stringify({urls:url})
        })

        let data = await res.json()

        if(data.length > 0){
            let c = data[0]
            resultados.push(c)

            let bloque = `
╭───✦ HIT HUNTER
├● 👑 ᴜꜱᴇʀ : ${c.user}
├● 🔐 ᴩᴀꜱꜱ : ${c.pass}
├● ✅ ꜱᴛᴀᴛᴜꜱ : Active
├● 📶 ᴀᴄᴛɪᴠᴇ : ${c.active}
├● 📡 ᴍᴀx : ${c.max}
├● ⏰ ᴄʀᴇᴀᴛᴇᴅ : ${c.created}
├● 📅 ᴇxᴘɪʀᴀᴛɪᴏɴ : ${c.exp}
├● 🌐 ꜱᴇʀᴠᴇʀ : ${c.server}
├● 🕰️ ᴛɪᴍᴇᴢᴏɴᴇ : ${c.timezone}
├● ⚡ ꜱᴄᴀɴᴛʏᴩᴇ : panel
├● 👤 нιт вʏ : PANEL PRO
╰───✦ 🚀

🌐 ᴍ3ᴜ : ${c.m3u}

`

            div.innerHTML += "✅ CUENTA VALIDA:\n" + bloque + "\n"
        } else {
            div.innerHTML += "❌ INVALIDA\n\n"
        }

        div.scrollTop = div.scrollHeight
    }
}

async function download(){
    let res = await fetch("/export",{
        method:"POST",
        headers:{"Content-Type":"application/json"},
        body:JSON.stringify(resultados)
    })

    let blob = await res.blob()
    let a = document.createElement("a")
    a.href = URL.createObjectURL(blob)
    a.download = "hits.txt"
    a.click()
}

</script>

</body>
</html>
