<!DOCTYPE html>
<html>
<body style="background:#0f172a;color:white;text-align:center">

<h1>PANEL PRO</h1>

<textarea id="urls" style="width:90%;height:120px;"></textarea><br><br>

<button onclick="add()">Añadir</button>
<button onclick="scan()">Verificar</button>
<a href="/export"><button>Exportar</button></a>

<h2>RESULTADOS</h2>

{% for l in listas %}
<div style="margin:10px;padding:10px;background:#020617">
<pre>{{l[3] if l[3] else "⏳ Pendiente..."}}</pre>
</div>
{% endfor %}

<script>
function add(){
fetch("/add",{
method:"POST",
headers:{"Content-Type":"application/json"},
body:JSON.stringify({urls:document.getElementById("urls").value})
}).then(()=>location.reload());
}

function scan(){
fetch("/scan").then(()=>location.reload());
}
</script>

</body>
</html>
